* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    gap: 2em;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.video_container {
    text-align: center;
}

figure {
    margin: 3em;
}